/* @media screen and (max-width: 1200px) {
  header {
    height: 95px;
  }
  
}
@media screen and (max-width: 800px) {
  .topnav,.header-btn {
    
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
    
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: left;
    
  }
} */

